.main-service-heading{
    margin-top: 70px;
    text-align: center;
  }
  
  .service-title {
    color: #ffb400;
  }
  
  .e-service-title {
    margin-top: -67px;
    font-size: 35px;
    margin-bottom: 60px;
  }